################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvcSampleProject/v15/Server/sqlite3/db.lock
/.vs/MvcSampleProject/v15/Server/sqlite3/storage.ide
/.vs/MvcSampleProject/v15/Server/sqlite3
/.vs/MvcSampleProject/v15/.suo
/obj
/bin
/.sonarqube
/.vs/MvcSampleProject/DesignTimeBuild/.dtbcache
